USE [master]
GO
/****** Object:  Database [SDGs_VietNam]    Script Date: 13/09/2021 15:17:18 ******/
CREATE DATABASE [SDGs_VietNam]
 
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SDGs_VietNam].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SDGs_VietNam]
GO
/****** Object:  Table [dbo].[Goal]    Script Date: 13/09/2021 15:17:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Goal](
	[Goal_ID] [int] IDENTITY(151,1) NOT NULL,
	[Goal_DescEn] [varchar](max) NULL,
	[Goal_DescAr] [varchar](max) NULL,
	[GoalImageEn] [varchar](max) NULL,
	[GoalImageAr] [varchar](max) NULL,
	[Goal_Code] [varchar](10) NULL,
	[Type_ID] [int] NULL,
	[IS_ACTIVE] [bit] NULL,
 CONSTRAINT [uni_goal] UNIQUE NONCLUSTERED 
(
	[Type_ID] ASC,
	[Goal_Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Target]    Script Date: 13/09/2021 15:17:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Target](
	[Goal_ID] [int] NULL,
	[Target_DescEn] [varchar](max) NULL,
	[Target_DescAr] [varchar](max) NULL,
	[Target_Code] [varchar](10) NULL,
	[Target_ID] [int] IDENTITY(1,1) NOT NULL,
	[IS_ACTIVE] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Target_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [u_target] UNIQUE NONCLUSTERED 
(
	[Target_Code] ASC,
	[Goal_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Indicator]    Script Date: 13/09/2021 15:17:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Indicator](
	[Indicator_Code] [varchar](50) NOT NULL,
	[Indicator_descEn] [varchar](max) NULL,
	[Indicator_descAr] [varchar](max) NULL,
	[IS_ACTIVE] [bit] NULL,
 CONSTRAINT [PK_Indicator] PRIMARY KEY CLUSTERED 
(
	[Indicator_Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
 

/****** Object:  Table [dbo].[Ind_Code]    Script Date: 13/09/2021 15:17:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ind_Code](
	[Indicator_NL] [varchar](20) NOT NULL,
	[Indicator_Code] [varchar](50) NULL,
	[Target_ID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIME_PERIOD]    Script Date: 13/09/2021 15:17:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIME_PERIOD](
	[TIME_PERIOD] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TIME_PERIOD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subindicator]    Script Date: 13/09/2021 15:17:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subindicator](
	[Indicator_Code] [varchar](50) NULL,
	[Subindicator_Code] [varchar](50) NOT NULL,
	[Subindicator_DescEn] [varchar](max) NULL,
	[Subindicator_DescAr] [varchar](max) NULL,
	[Is_Uploaded] [int] NOT NULL,
	[Is_Valid] [int] NOT NULL,
	[Dimensions] [nchar](50) NULL,
	[Series] [varchar](50) NULL,
	[UNIT_MULT] [varchar](50) NULL,
	[UNIT_MEASURE] [varchar](50) NULL,
	[OBS_STATUS] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Subindicator_Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

/****** Object:  table [dbo].[Goal_Type]    Script Date: 13/09/2021 15:17:19 ******/

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Goal_Type](
	[Label_En] [varchar](50) NULL,
	[Label_Ar] [varchar](50) NULL,
	[Descr_En] [varchar](max) NULL,
	[Descr_Ar] [varchar](max) NULL,
	[url_img] [varchar](max) NULL,
	[Descr_Short] [varchar](20) NULL,
	[Subindicator_Separator] [nchar](1) NULL,
	[order_code] [smallint] NULL,
	[Type_ID] [int] IDENTITY(1,1) NOT NULL,
	[IS_ACTIVE] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Type_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [U_Descr_Short] UNIQUE NONCLUSTERED 
(
	[Descr_Short] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_GOAL]    Script Date: 13/09/2021 15:17:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Code_Mapping](
	[Code] [varchar](50) NOT NULL,
	[Goal_Type] [int] NULL,
	[Value] [varchar](50) NOT NULL,
 CONSTRAINT [u_cm] UNIQUE NONCLUSTERED 
(
	[Code] ASC,
	[Goal_Type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CL_OBS_STATUS](
	[OBS_STATUS] [varchar](100) NOT NULL,
	[OBS_STATUS_DESC_EN] [varchar](max) NULL,
	[OBS_STATUS_DESC_AR] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[OBS_STATUS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

/****** Object:  Table [dbo].[CL_UNIT_MULT]    Script Date: 13/09/2021 15:17:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CL_UNIT_MULT](
	[UNIT_MULT] [varchar](100) NOT NULL,
	[UNIT_MULT_DESC_EN] [varchar](max) NULL,
	[UNIT_MULT_DESC_AR] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[UNIT_MULT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CL_UNIT_MEASURE]    Script Date: 19/11/2021 11:35:52 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[CL_UNIT_MEASURE](
	[UNIT_MEASURE] [varchar](100) NOT NULL,
	[UNIT_MEASURE_DESC_EN] [nvarchar](max) NULL,
	[UNIT_MEASURE_DESC_AR] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[UNIT_MEASURE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO


SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dep_indicator](
	[DEP_ID] [int] NOT NULL,
	[Ind_Code] [varchar](50) NOT NULL,
 CONSTRAINT [PK_dep_IND] PRIMARY KEY CLUSTERED 
(
	[DEP_ID] ASC,
	[Ind_Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[department]    Script Date: 13/09/2021 15:17:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[department](
	[dep_id] [int] IDENTITY(1,1) NOT NULL,
	[description] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[dep_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uni_dep_desc] UNIQUE NONCLUSTERED 
(
	[description] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIMENSION]    Script Date: 13/09/2021 15:17:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIMENSION](
	[SEQUENCE] [int] NOT NULL,
	[NAME] [varchar](250) NOT NULL,
	[LABEL] [varchar](250) NOT NULL,
	[TABLE_NAME] [varchar](250) NULL,
	[CODE] [varchar](250) NULL,
	[DESCRIPTION] [varchar](250) NULL,
	[IS_TIME] [tinyint] NOT NULL,
	[INT_CODE] [tinyint] NOT NULL,
	[LABEL_ENG] [varchar](250) NOT NULL,
	[DESCRIPTION_ENG] [varchar](250) NULL
) ON [PRIMARY]
GO




/****** Object:  Table [dbo].[Roles]    Script Date: 13/09/2021 15:17:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Role_ID] [int] NOT NULL,
	[Role_Name] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Role_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[user_indicator]    Script Date: 13/09/2021 15:17:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_indicator](
	[user_ID] [int] NOT NULL,
	[Ind_Code] [varchar](50) NOT NULL,
 CONSTRAINT [PK_user_IND] PRIMARY KEY CLUSTERED 
(
	[user_ID] ASC,
	[Ind_Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[swa_properties]    Script Date: 13/09/2021 15:17:19 ******/


CREATE TABLE [dbo].[swa_properties](
	[id] [smallint] NULL,
	[name] [varchar](50) NULL,
	[label] [varchar](50) NULL,
	[description] [varchar](max) NULL,
	[description2] [varchar](max) NULL,
	[url_logo] [varchar](max) NULL,
	[url_website] [varchar](max) NULL,
	[secondary_language] [varchar](50) NULL,
	[secondary_language_code] [varchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
/****** Object:  Table [dbo].[Users]    Script Date: 13/09/2021 15:17:19 ******/
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[User_ID] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](64) NOT NULL,
	[password] [varchar](128) NOT NULL,
	[Role_ID] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY NONCLUSTERED 
(
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_username] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DIMENSION] ADD  DEFAULT ((0)) FOR [IS_TIME]
GO
ALTER TABLE [dbo].[DIMENSION] ADD  DEFAULT ((0)) FOR [INT_CODE]
GO
ALTER TABLE [dbo].[Goal] ADD  DEFAULT ((1)) FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[Goal_Type] ADD  DEFAULT ((1)) FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[Indicator] ADD  DEFAULT ((1)) FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[Subindicator] ADD  DEFAULT ((0)) FOR [Is_Uploaded]
GO
ALTER TABLE [dbo].[Subindicator] ADD  DEFAULT ((1)) FOR [Is_Valid]
GO
ALTER TABLE [dbo].[Target] ADD  DEFAULT ((1)) FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[Code_Mapping]  WITH CHECK ADD FOREIGN KEY([Goal_Type])
REFERENCES [dbo].[Goal_Type] ([Type_ID])
GO
ALTER TABLE [dbo].[dep_indicator]  WITH CHECK ADD FOREIGN KEY([DEP_ID])
REFERENCES [dbo].[department] ([dep_id])
GO
ALTER TABLE [dbo].[dep_indicator]  WITH CHECK ADD FOREIGN KEY([Ind_Code])
REFERENCES [dbo].[Indicator] ([Indicator_Code])
GO
ALTER TABLE [dbo].[Goal]  WITH CHECK ADD FOREIGN KEY([Type_ID])
REFERENCES [dbo].[Goal_Type] ([Type_ID])
GO
ALTER TABLE [dbo].[user_indicator]  WITH CHECK ADD FOREIGN KEY([Ind_Code])
REFERENCES [dbo].[Indicator] ([Indicator_Code])
GO
ALTER TABLE [dbo].[user_indicator]  WITH CHECK ADD FOREIGN KEY([user_ID])
REFERENCES [dbo].[Users] ([User_ID])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([Role_ID])
REFERENCES [dbo].[Roles] ([Role_ID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO

USE [master]
GO
